{% extends 'base.html' %}
{% load static %}

{% block title %}
    Реєстрація | QRcode Aqua
{% endblock %}    


{% block head %}
    <link rel="stylesheet" href="{% static 'user/css/registration.css' %}">
{% endblock %}    



{% block content %}
    <form method="post" class="registration">
        {% csrf_token %}  
        {% if not confirm %}
            <h1>SIGN UP</h1>
            <input type="text" placeholder="Username *" name="username" required>
            <input type="password" placeholder="Password *" name="password" required>
            <input type="password" placeholder="Confirm Password *" name="confirm_password" required>
            <button type="submit">Submit</button>
            {% if error == "username_error" %}
                <p style="color: #FF0000; font-family: 'Inter'; font-size: 30px;" class="error">This Username already exists</p>
            {% elif error == "password_error" %}
                <p style="color: #FF0000; font-family: 'Inter'; font-size: 30px;" class="error">Passwords are not correct</p>    
            {% endif %}
        {% else %}
            <h2>Успішна реєстрація</h2>
            <a href="{% url 'login' %}" style="color:black; text-transform:none">Авторизація</a>
        {% endif %}
    </form>
{% endblock %}