{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Помилка переадресації | QRcode Aqua</title>
    </head>
    <body>
        {% if error_qrcode == "time" %}
            <h1>На цьому QRкоду закінчився термін роботи (6 місяців), щоб продовжити термін роботи, можна <a class="change" href="{% url 'subscribes' %}">змінити тариф</a></h1>
        {% elif error_qrcode == "sub" %}
            <h1>Цей QRкод був заблокований, так як він був створенний на {{ sub.created }}, а поточний тариф створювача {{ sub.current }}. Вам треба змінити або ваш тариф на попередній, або на краще. <a class="change" href="{% url 'subscribes' %}">Змінити тариф</a></h1>
        {% endif %}
    </body>
</html>