.welcome-text {
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 750px;
    height: 400px;
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 35px;
}
p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    text-align: center;
    color: #000000;

}
.home-page-text {
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 116px;
    text-align: center;

    color: #FFFFFF;


}
h2 {
    font-family: 'Inter';
    font-size: 28px;
    color: #FFFFFF;
}
.contacts {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    gap: 10px;
}
.links-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.image-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 45px;
}
.home-page-description {
    text-align: center;
}
.home-page-description a {
    font-size: 28px;
    text-decoration: underline;
    text-transform:none
}
.subscribes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 0px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    padding: 0px;
    padding-top: 30px;
    padding-right: 10px;
    width: 390px;
    height: 462px;
    padding-left: 30px;

}
.information {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    padding: 0px;
    padding-right: 23px;
    gap: 10px;
    width: 100%;
    height: 80%;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 20%;
}
h3 {
    position: relative;
    top: 10px;
    font-family: 'Inter';
    font-size: 40px;
    line-height: 69px;
    text-transform: uppercase;

    color: #FFFFFF;
}
li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

    color: #FFFFFF;
}
.line-between-divs {
    width: 0px;
    height: 450px;
    border: 3px solid #FFFFFF;
}
.username {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}
.already-used {
    font-family: 'Inter';
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #FFFFFF;

}
.subscibea {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 265px;
    height: 62px;
    background: #82A9F2;
    border: 3px solid #000000;
    border-radius: 30px;
    font-family: 'Inter';
    font-size: 28px;
    text-decoration: none;
    text-transform:none;
    color: #000000;
}
.subscibea:hover {
    background: #5B8CE7;
}
.des2 {
    margin-bottom: 35px;
}
.avable-for {
    opacity: 0.8;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 15px;
}
li{
    font-size: 20px;
    line-height: 30px;
}