.generate-url {
    font-weight: 600;   
}
form {

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 1145px;
    height: 624px;

    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
}
.config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    padding: 10px 10px;
    gap: 10px;
    height: 100%;
    width: 70%;
    
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.inputs input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 90%;
    padding-left: 5px;
    font-family: 'Inter';
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.color {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.color h2{
    font-family: 'Inter';
    font-size: 24px;
}
.color div{
    display: flex;
    gap: 0px;
    /* margin-left: 10px; */
}
.color-qr {
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #000000;
    border: #000000 2px solid;
}
.color-bg {
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: #000000 2px solid;
}
.text-color {
    padding: 10px;
    font-family: 'Inter';
    font-size: 25px;
    width: 200px;
    border: 0px;
    background-color: #E2E2E2;
}
/* .color {
    height: 25px;
    width: 25px;
} */
.icons {
    display: flex;
    gap: 7px;
}
.config h2 {
    font-family: 'Inter';
    font-size: 24px;
}
.icon{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 20px;
    align-items: center;
    border: 0px;
}
.icon1{
    display: none;
}
.icon img {
    width: 40px;
    height: 40px;
}

.preview-qr {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 9px 0 0 0;
    /* padding-top: 0; */
    gap: 25px;
}
fieldset {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 20px;
    border: none;
    gap: 20px;
}
.sizes-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.qrcode-img {
    width: 340px;
    height: 340px;
}
.size {
    width: 245px;
    height: 25px;
    /* margin-left: 20px; */
}
.sizes {
    display: flex;
    gap: 5px;
    margin-left: 40px;
    width: 300px;
    font-family: 'Inter';
}
.buttons {
    display: flex;
    width: 70%;
    gap: 7px;
}
.generate {
    cursor: pointer;
    display: flex;
    width: 50%;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    background-color: #59FF64;
    border: 0px;
    border-radius: 10px;
}
.download {
    cursor: pointer;
    display: flex;
    width: 50%;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    color: #000000;
    background-color: #14FDFD;
    border: 0px;
    border-radius: 10px;
}
.color-qr1 {
    display: none;
}
.color-bg1 {
    display: none;
}
h3 {
    font-family: 'Inter';
    font-size: 18px;
}
.block-size-qrcode {
    font-family: 'Inter';
    font-size: 20px;
}
.block-size-qrcode-div {
    position: absolute;
    background-color: #000000;
    width: 300px;
    height: 30px;
    opacity: 0;
}
.types-qrcode {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.types-qrcode input {
    display: none;
}
.types-qrcode div {
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.label-shape{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-shapes {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.checkbox-none + .shape label img {
    border: 1px solid black ;
    border-radius: 5px;
}
.checkbox-none:checked + .shape label img {
    border: 3px solid black ;
    border-radius: 5px;
}
.alert {
    position: relative;
    top: -15px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.alert-text {
    font-size: 20px;
    color: red;
    text-align: center;
}
.info-img {
    width: 45px;
    height: 45px;
}
.popup-info {
    display: flex;
    position: absolute;
    left: 330px;
    width: 250px;
    height: 95px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: #000000 2px solid;
    border-radius: 15px;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.popup-text {
    color: black;
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
}
.info-img:hover + .popup-info{
    opacity: 1;
    visibility: visible;
}
.info-url {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
    margin-left: 615px;
}
.info-img-url {
    position: absolute;
    width: 45px;
    height: 45px;
}
.popup-info-url {
    display: flex;
    position: absolute;
    left: 55px;
    width: 250px;
    height: 95px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: #000000 2px solid;
    border-radius: 15px;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.popup-text-url {
    color: black;
    font-family: 'Inter';
    font-size: 20px;
    text-align: center;
}
.info-img-url:hover + .popup-info-url{
    opacity: 1;
    visibility: visible;
}