{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'create_qrc/css/create_qrc.css' %}">
{% endblock %}

{% block title %}
    Створювання QRcode-у | QRcode Aqua
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="config">
            <!-- Inputs -->
            <div class="inputs">
                <input type="text" name="name" placeholder="NAME *" maxlength="15" required>
                {% if type_sub == "universal" %}
                    <input type="text" name="url" placeholder="URL or INFORMATION *" required>
                    <div class="info-url">
                        <img src="{% static 'create_qrc/images/info.png' %}" class="info-img-url">
                        <div class="popup-info-url">
                            <p class="popup-text-url">
                                Якщо указуєте URL-посилання обов'язково указуйте з https://
                            </p>
                        </div>
                    </div>
                {% else %}
                    <input type="text" name="url" placeholder="URL *" required>
                {% endif %}
            </div>
            <!-- Color Config -->
            <div class="color">
                <h2>Колір QR-Code:</h2>
                <div>
                    <input type="color" class="color-qr color" name="fill_color"  value="#000000">
                    <p class="text-color qr-color">#ffffff</p>
                </div>
                <h2>Колір фону:</h2>
                <div>
                    <input type="color" class="color-bg color" name="back_color" value="#FFFFFF">
                    <p class="text-color bg-color">#000000</p>
                </div>
            </div>
            <!-- Icons -->
            <h2>Виберіть зображення для QR-Code:</h2>
            <div class="icons">
                <input type="file" class="icon" name="icon_in_center">
            </div>
            <h2>Виберіть тип QR-code:</h2>
            <div class="types-qrcode">
                <input type="radio" class="checkbox-none" name="body" value="square"  id="square" checked>
                <div class="shape shapep">
                    <label id="label-squared-body" class="label-shape" for="square">
                        <img class="img-shapes" src="{% static 'create_qrc/images/square-body.png' %}">
                    </label>
                </div>
                
                <input type="radio" class="checkbox-none" name="body" value="gapped" id="dots">
                <div class="shape shapep">
                    <label id="label-miniround" class="label-shape" for="dots">
                        <img class="img-shapes" src="{% static 'create_qrc/images/gapped-body.png' %}">
                    </label>
                </div>
                
                <input type="radio" class="checkbox-none" name="body" value="circle" id="circle">
                <div class="shape shapep">
                    <label id="label-miniround" class="label-shape" for="circle">
                        <img class="img-shapes" src="{% static 'create_qrc/images/circle-body.png' %}">
                    </label>
                </div>
                
                <input type="radio" class="checkbox-none" name="body" value="rounded" id="rounded">
                <div class="shape shapep">
                    <label id="label-miniround" class="label-shape" for="rounded">
                        <img class="img-shapes" src="{% static 'create_qrc/images/rounded-body.png' %}">
                    </label>
                </div>
                
                <input type="radio" class="checkbox-none" name="body" value="vertical" id="vertical">
                <div class="shape shapep">
                    <label id="label-miniround" class="label-shape" for="vertical">
                        <img class="img-shapes" src="{% static 'create_qrc/images/vertical-body.png' %}">
                    </label>
                </div>
                
                <input type="radio" class="checkbox-none" name="body" value="horizontal" id="horizontal">
                <div class="shape shapep">
                    <label id="label-miniround" class="label-shape" for="horizontal">
                        <img class="img-shapes" src="{% static 'create_qrc/images/horizontal-body.png' %}">
                    </label>
                </div>
            </div>


        </div>
        <!--  -->
        <div class="preview-qr">
            <img src="{% static 'create_qrc/images/qrcode.png' %}" alt="QRCODE" class="qrcode-img">
            <div class="sizes-div">
                <h3 class="block-size-qrcode">Змінити розмір qrcode</h3>
                <fieldset>
                    
                    <!--  -->
                    <div>
                        <input type="radio" id="256px" name="size" value="256px" checked>
                        <label for="256px">256px</label>
                    </div>
                    <!--  -->
                    <div>
                        <input type="radio" id="512px" name="size" value="512px"/>
                        <label for="512px">512px</label>
                    </div>
                    <!--  -->
                    <div>
                        <input type="radio" id="1028px" name="size" value="1028px"/>
                        <label for="1028px">1028px</label>
                    </div>
                    <!--  -->
                    
                </fieldset>
            </div>
            <div class="buttons">
                <button type="submit" class="generate">Generate</button>
                <a href="{% static 'create_qrc/images/qrcode.png' %}" class="download" download="">Download</a>
            </div>
            {% if alert %}
                <div class="alert">
                    <h3 class="alert-text">У вас закінчився ліміт створення QR-кодів</h3>
                    <img src="{% static 'create_qrc/images/info.png' %}" class="info-img">
                    <div class="popup-info">
                        <p class="popup-text">
                            Ліміт можна збільшить, якщо змінити підписку на сторінці Subscribes
                        </p>
                    </div>
                </div>
            {% endif %}
            </div>
    </form>
    <script src="{% static 'create_qrc/js/create_qrc.js' %}"></script>
{% endblock %}